<RadzenRow>
    <RadzenColumn>
        <RadzenCard>
            <RadzenFieldset>
                <HeaderTemplate>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenIcon Icon="home_pin"/>
                        <b>Áreas</b>
                    </RadzenStack>
                </HeaderTemplate>
                <ChildContent>
                    <h1>Áreas</h1>
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem"
                                 class="rz-mt-4 rz-mb-2">
                        <RadzenButton Icon="save" Text="Salvar Áreas"/>
                    </RadzenStack>
                </ChildContent>
            </RadzenFieldset>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>