<RadzenCard>
    <Header>
        <h4>OBSERVAÇÕES</h4>
    </Header>
    <Content>
        <RadzenHtmlEditor @bind-Value=@htmlValue
                          style="height: 450px;"
                          Input=@OnInput
                          Change=@OnChange
                          Paste=@OnPaste
                          UploadComplete=@OnUploadComplete
                          Execute=@OnExecute
                          UploadUrl="upload/image"/>
    </Content>
</RadzenCard>




@*<EventConsole @ref=@console />*@

@code {


}